body{
background-image : url("img/Background.jpg");
background-size : 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr{
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}
#TestID{
font:Sans-serif
}
.ui-datepicker {
background: #fff -webkit-linear-gradient(top, #fcfcfc 0%, #fff 100%);
font-size:11px;
padding:10px;
border:1px solid #ccc;
}

.ui-datepicker table {
width:278px;
}

.ui-datepicker table td {
text-align:center;
}

.ui-datepicker a {
cursor:pointer;
text-decoration:none;
}

.ui-datepicker-prev {
}

.ui-datepicker-next {
float:right;
}

.ui-datepicker-title {
text-align: center;
font-weight:bold;
}
